@model AzureP33.Models.Home.HomeCosmosViewModel

@{
    ViewData["Title"] = "CosmosDB";
}

<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure</h1>
</div>

<h2 class="display-5">
    CosmosDB: review elements
</h2>

<form method="post">
    <h3>New user</h3>
    Name: <input name="Name"/> <br/>
    E-mail: <input name="Email"/> <br />
    <button name="Action" value="Create">Create</button>
</form>

@ViewData["result"]