body
{
    background-color: #121212;
    color: #e0e0e0;
}

h1, h2, h3, h4, h5, h6
{
    color: #ffffff;
}

.form-control, .form-select
{
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: #fff;
}

    .form-control:focus, .form-select:focus
    {
        background-color: #333;
        color: #fff;
        border-color: #0d6efd;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .form-control:disabled, .form-control[readonly]
    {
        background-color: #1e1e1e;
        color: #aaa;
        border-color: #333;
    }

.border-bottom
{
    border-bottom: 1px solid #333 !important;
}

a
{
    color: #6ea8fe;
}

.footer
{
    color: #aaa;
}
